* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*cores nubank #320850 #490B75 #AA68FF*/
/*background color #E9DFF6 #ECD9FF*/
body{
    background-color: #E9DFF6;
    color: rgba(0, 0, 0, 0.638);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    width: 100%;
    max-width: 600px;
    resize: none;
    height: 30px;
    margin: 5px;
}
h1{
    font-size: bold;
    color: #490B75;
    margin: 20px;
}
#botao{
    background-color: #490B75;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}